{
  "printWidth": 100,
  "singleQuote": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
