/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
main {
  padding: 2rem;
}

.w-full {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-4 {
  gap: 1rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.grid-2-col {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
